.expanded {
    max-height: 1999px;
    transition: max-height .9s ease-in-out;
    overflow: hidden;
  }
  
  .expanded > * {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
  .collapsed {
    max-height: 0;
    overflow: hidden;
  }
  
  .collapsed > * {
    opacity: 0;
  }

 .item svg{
   opacity: .3;
   transition: all .5s;
 }

 .item:hover svg{
    opacity: 1;
  }