.root {
    position: relative;
  }
  
  .input {
    height: rem(54);
    padding-top: rem(18);
  }
  
  .label {
    position: absolute;
    z-index: 2;
    top: rem(10); /*rem(7)*/
    /*left: theme.spacing.sm;*/
    pointer-events: none;
    /*color: floating
      ? theme.colorScheme === 'dark'
        ? theme.white
        : theme.black
      : theme.colorScheme === 'dark'
      ? theme.colors.dark[3]
      : theme.colors.gray[5]; */
    transition: transform 150ms ease, color 150ms ease, font-size 150ms ease;
   /* transform: floating ? translate(0, rem(-7)) : none; 
    font-size: floating ? theme.fontSizes.xs : theme.fontSizes.sm;
    font-weight: floating ? 500 : 400;*/
  }
  
  .required {
    transition: opacity 150ms ease;
    opacity: 1; /*floating ? 1 : 0;*/ /* make asterisk appear only on focus */
  }