@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
  text-decoration: none;
  font-size: var(--mantine-font-size-sm); /*0.875rem;*/
  /* color:var(--mantine-color-main-4);*/
}
a:hover {
  text-decoration: underline;
}
a.decoration_none:hover {
  text-decoration: none;
}
.mantine-Avatar-image {
  object-position: center top;
}
.mantine-Tabs-list button:hover {
  background-color: #99999920;
}


.mainColor {
  color: var(--mantine-color-main);
}
.secondColor {
  color: var(--mantine-color-second-4);
}

.color_text {
  color: var(--mantine-color-text);
}
.color_body {
  color: var(--mantine-color-body);
}
.gray_highlight {
  background-color: var(--mantine-color-virilis-gray-highlight);
}
.body_highlight {
  background-color: var(--mantine-color-body);
}
.hover_card{
  cursor:pointer;
}
.hover_card:hover {
  border-color: var(--mantine-color-main);
}

@media (max-width: $mantine-breakpoint-md) {
  .mantine-Tabs-tabLabel {
    font-size: var(--mantine-font-size-xs); /*0.875rem;*/
  }
}

/*-----tw-like utils--*/
.cursor-pointer {
  cursor: pointer;
}

.relative{
  position: relative;
}

.flex-1	{
  flex: 1 1 0%;
}

.flex	{
  display: flex;
}
