.user {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    }
  }

  .active button  {
    font-weight: 700;
    color: var(--mantine-color-virilis-green) !important;
    pointer-events: none;
    border-right: 3px solid var(--mantine-color-second-4) !important;
  }

  .active:hover{
    text-decoration: none;
    cursor: default;
  }

  .active :global(.mantine-ThemeIcon-root){
    color: var(--mantine-color-second-4);
    background-color:var(--mantine-color-second-0);
  }